<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
</head>
<body>

	<h2>Shanen's Image Collage</h2>
	<a href="../index.html">First Page</a>
	<h3>Not So Fun Stuff</h3>
	<br>
	<figure>
		<img src="../images/HomeAloneKid.jpg" width="600px" height="400px" alt="Picture of Kevin McAllister from the movie Home Alone">
		<figcaption>Kevin McAllister</figcaption>
	</figure>
	<br>
	<figure>
		<img src="../images/TangledWires.jpg" width="600px" height="400px" alt="Picture of a bunch colorful wires tangled together">
		<figcaption>Messy Bunch of Wires</figcaption>
	</figure>
	<br>
	<figure>
		<img src="../images/WorkBoots.jpg" width="600px" height="400px" alt="Picture of worn out, muddy work boots with the soles falling apart">
		<figcaption>Used Work Boots</figcaption>
	</figure>
	<br>
	<figure>
		<img src="../images/BlackWhiteRiver.jpg" width="500px" height="400px" alt="A black and white picture of a shallow, slow-moving river">
		<figcaption>Rocky Slow River</figcaption>
	</figure>
	<br>
	<figure>
		<img src="../images/SarahGoodGrave.jpg" width="600px" height="350px" alt="Picture of Sarah Good's Grave, who was hung July 19th, 1692">
		<figcaption>Sarah Good's Grave</figcaption>
	</figure>
	<a href="../index.html">First Page</a>
</body>
</html>